.bai5 img{
    border-radius: 100%;
    box-shadow: 1 1 10px;
}
.bai5{
    text-shadow: 1px 1px;
    
}
.spinner{
  
    color: aliceblue;
    background-image: url("https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/abfa05c49acf005b8b1e0ef8eb25a67a7057eb20/svg-css/3-dots-bounce.svg");
}